[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bpython = "*"
flake8 = "*"
autopep8 = "*"

[packages]
tweepy = "*"
Flask = "*"
SQLAlchemy = "*"
PyYAML = "*"
google-api-python-client = "*"
pydrive = "*"
discord-py = "*"
sqlalchemy = "*"

[scripts]
start = "python app.py"
dev = "python dev.py"

[requires]
python_version = "3.8"
